body{
  background-color: #B388BF;
}
#namelogo{
    align-items: baseline;
}

#namelogo{
  width: 75%;
  height: auto;
  text-align: center;
  padding-left: 200px;
}
div.scrollmenu{
    text-align: center;
    background-color:#B388BF;
    overflow: auto;
    white-space: nowrap;
}

.activeLink{
  color:white;
}

.activeLink:hover{
  color:#BF26A6;
}

.inactiveLink:hover{
    color: #934EA6;
}
div.scrollmenu a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 25px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #B388BF;
  }


  #mainpic{
    text-align: center;
    width: 75%;
    max-width: 400px;
    height: auto;
  }